.form {
    width: 100%;

    &__registration-wrapper,
    &__authorization-wrapper {
        min-width: 504px;
        padding: 40px;
        border-radius: 4px;
        background-color: #272828;

        @media screen and (max-width: 640px) {
            min-width: auto;
        }
    }

    &__title {
        margin-bottom: 25px;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
    }

    &__tabs {
        margin-bottom: 25px;
        padding-bottom: 10px;
        display: flex;
        align-items: end;
        border-bottom: 2px solid gray;
    }

    &__tab {
        width: 50%;
        text-align: center;
        cursor: pointer;
    }

    &__tab--active {
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -12px;
            width: 100%;
            height: 3px;
            background-color: #F1CC92;
        }
    }
}