.main {
    background-image: url("/resources/images/main_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    .bg-roulette {
        width: 282px;
        height: 279px;
        background-image: url("/resources/images/roulette.svg");
        background-size: cover;
        position: absolute;
        left: -139px;
        top: -107px;
        transform: rotate(8deg);

        @media screen and (max-width: 640px) {
            width: 138px;
            height: 136px;
            left: -52px;
            top: -42px;
        }
    }

    .bg-dice {
        width: 224px;
        height: 224px;
        background-image: url("/resources/images/dice.svg");
        background-size: cover;
        position: absolute;
        bottom: -90px;
        left: 30%;

        @media screen and (max-width: 1280px) {
            display: none;
        }

        @media screen and (max-width: 640px) {
            display: block;
            width: 122px;
            height: 122px;
            bottom: 426px;
        }
    }

    .bg-chip {
        width: 158px;
        height: 158px;
        background-image: url("/resources/images/chip.svg");
        background-size: cover;
        position: absolute;
        right: 35%;
        top: 89px;

        @media screen and (max-width: 1280px) {
            top: -30px;
        }

        @media screen and (max-width: 640px) {
            top: 10px;
            right: 12%;
            width: 77px;
            height: 77px;
        }
    }

    .bg-chip2 {
        width: 154px;
        height: 154px;
        background-image: url("/resources/images/chip.svg");
        background-size: cover;
        position: absolute;
        right: -64px;
        bottom: 242px;
        transform: rotate(-81deg);

        @media screen and (max-width: 640px) {
            width: 60px;
            height: 60px;
            right: 0;
            bottom: 554px;
        }
    }

    .container {
        min-height: 100dvh;
        margin: auto;
        max-width: 1440px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 60px 0 76px;

        @media screen and (max-width: 1280px) {
            padding: 100px 0;
            flex-direction: column;
            row-gap: 100px;
        }
    
        @media screen and (max-width: 640px) {
            padding: 100px 0 0;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Inter", sans-serif;
        text-align: center;
    }

    &__text-title {
        margin-bottom: -20px;
        font-size: 38px;
        font-weight: bold;

        @media screen and (max-width: 640px) {
            margin: 0;
            font-size: 16px;
        }
    }

    &__text-subtitle {
        margin-bottom: -18px;
        display: flex;
        align-items: center;
        font-size: 36px;

        @media screen and (max-width: 640px) {
            margin: 0;
            font-size: 15px;
        }

        span {
            font-size: 132px;
            font-weight: 800;
            -webkit-text-stroke: 3px #FFFFFF;
            text-stroke: 3px #FFFFFF;

            @media screen and (max-width: 640px) {
                letter-spacing: -4px;
                font-size: 54px;
                -webkit-text-stroke: 0;
                text-stroke: 0
            }
        }
    }

    &__text-bonus {
        width: 673px;
        height: 173px;

        @media screen and (max-width: 640px) {
            width: 270px;
            height: 74px;
        }
    }

    &__text-bonus-big {
        display: block;

        @media screen and (max-width: 640px) {
            display: none;
        }
    }

    &__text-bonus-small {
        display: none;

        @media screen and (max-width: 640px) {
            display: block;
        }
    }

    &__text-list {
        width: 100%;
        display: flex;
        align-items: center;

        @media screen and (max-width: 640px) {
            display: none;
        }
    }

    &__text-list-item {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        row-gap: 8px;

        &:not(:last-child) {
            border-right: 4px solid #fff;
        }
    }

    &__text-list-number {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        border: 2px solid white;
        font-size: 34px;
        text-align: center;
    }

    &__text-list-description {
        font-size: 14px;
    }

    &__form {
        @media screen and (max-width: 640px) {
            position: relative;
            width: 100%;
            z-index: 10;
        }
    }
}